{% extends 'base/dashboard/base_student.html' %}
{% load static %}
{% load app_filters %}
{% load convert_id_reciever %}
{% load convert_id_img %}
{% block content %}



			<!-- MAIN CONTENT -->
			<div class="main-content" id="content-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 clear-padding-xs">
							<h5 class="page-title"><i class="fa fa-envelope-o"></i>UPDATE PASSWORD</h5>

							<div class="section-divider"></div>
						</div>
					</div>
                    <div class="col-md-3"></div>
							<div class="col-md-5">
								<div class="dash-item first-dash-item">
									<h6 class="item-title"><i class="fa fa-paper-plane"></i>CREATE NEW PASSWORD</h6>
									<div class="inner-item">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form_errors">
                                                {% if message.error %}
                                                    <h5>{{ message.error }}</h5>

                                                {% endif %}
                                            </div>
										<div class="dash-form">
                                            {{ form }}
                                            <br>

										<div class="clearfix"></div>
                                            <br>
											<div class="col-sm-12">
												<button type="submit"><i class="fa fa-paper-plane"></i> UPDATE</button>
											</div>
										</div>
                                            </form>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>

				<div class="menu-togggle-btn">
					<a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
				</div>



{% endblock %}
