<!DOCTYPE html>
{% load static %}
<html>

<head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
        <title>Edu_Fcih</title>

        {% include 'base/static/css.html' %}

        <!-- Fonts -->
        {% include 'base/static/fonts.html' %}
    </head>
    <body>
{% block content  %}
{% endblock %}

         <!-- Scripts -->

		{% include 'base/static/js.html' %}
    </body>

</html>