{% extends 'base/dashboard/base.html' %}
	{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content" id="content-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 clear-padding-xs">
							<h5 class="page-title"><i class="fa fa-bullhorn"></i>ALL ANNOUNCEMENTS</h5>
							<div class="section-divider"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 clear-padding-xs">
							<div class="col-sm-6">
								<div class="dash-item first-dash-item">
									<h6 class="item-title"><i class="fa fa-edit"></i>UPDATE ANNOUNCEMENT</h6>
									<div class="inner-item">
                                        <form method="post"> {% csrf_token %}
                                            <div class="form_errors">
                                                {% if form.errors %}
                                                    <h5>{{ form.an_subject.errors }}</h5>
                                                    <h5>{{ form.an_description.errors }}</h5>
                                                {% endif %}
                                            </div>
										<div class="dash-form">
											<label class="clear-top-margin"><i class="fa fa-cogs"></i>TYPE</label>
											{{ form.an_type }}
											<label><i class="fa fa-user-secret"></i>FOR</label>

												{{ form.an_for }}

											<label><i class="fa fa-code"></i>SUBJECT</label>
											{{ form.an_subject }}
											<label><i class="fa fa-info-circle"></i>DESCRIPTION</label>
											{{ form.an_description }}
											<div>
												<button type="submit"><i class="fa fa-paper-plane"></i> CREATE</button>
											</div>
										</div>
                                            </form>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
{#							<div class="col-sm-8">#}
{#								<div class="dash-item first-dash-item">#}
{#									<h6 class="item-title"><i class="fa fa-bullhorn"></i>ALL ANNOUNCEMENTS</h6>#}
{#									<div class="inner-item">#}
{#										<table id="attendenceDetailedTable" class="display responsive nowrap" cellspacing="0" width="100%">#}
{#											<thead>#}
{#												<tr>#}
{#													<th><i class="fa fa-cogs"></i>TYPE</th>#}
{#													<th><i class="fa fa-user-secret"></i>FOR</th>#}
{#													<th><i class="fa fa-user-info"></i>SUBJECT</th>#}
{#													<th><i class="fa fa-info-circle"></i>DESCRIPTION</th>#}
{#													<th><i class="fa fa-sliders"></i>ACTION</th>#}
{#												</tr>#}
{#											</thead>#}
{#											<tbody>#}
{#                                            {% for announcement in announcements %}#}
{#												<tr>#}
{#													<td>{{ announcement.an_type }}</td>#}
{#													<td>{{ announcement.an_for }}</td>#}
{#													<td>{{ announcement.an_subject }}</td>#}
{#													<td>{{ announcement.an_description }}</td>#}
{#													<td class="action-link">#}
{#														<a class="edit" href="#" title="Edit" data-toggle="modal" data-target="#editDetailModal"><i class="fa fa-edit"></i></a>#}
{#														<a class="delete" href="#" title="Delete" data-toggle="modal" data-target="#deleteDetailModal"><i class="fa fa-remove"></i></a>#}
{#													</td>#}
{#												</tr>#}
{#                                            {% endfor %}#}
{##}
{##}
{#											</tbody>#}
{##}
{#										</table>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
						</div>
					</div>
				</div>
				<div class="menu-togggle-btn">
					<a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
				</div>
			</div>
	{% endblock %}